# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/

# Контрольные точки в Jupyter notebook лучше оставить в стороне
.ipynb_checkpoints
.vscode
/demobot.service
/docker-compose.yml
/bot.sh
/mqttsubscr.sh
/sendtemp.sh
/app/lang
/app/configs/user
/app/controllers/user
/app/models/user
/resources/user
/locale
/tmp
/logs